* {
    margin: 0;
    padding: 0;
}

body {
    background:url('../../docs/mo-fJf1ByoODJk-unsplash.jpg')  no-repeat;
    background-size: cover ;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    a{
        text-decoration: none;
        color: inherit;
    }
}

$yellow: #cecdcb;
$deepyellow: #fac72d;
$white: white;
$lightpink: #f7e8e9;
$lightgray: #c8c7ca;
$gray: gray;
$mandarin: #ff6d19;
$complement:#87A4FC;
$brown: #3d242c;


@mixin grid($columns) {
    display: grid;
    grid-template-columns: $columns;
    gap: 16px;
}

@mixin flex($direction: row, $justifyContent: center, $alignItems: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

.main-base{
    padding: 4rem 1rem 100px 1rem;
    
    @media screen and (min-width:800px) {
        padding: 4rem 5rem 250px 5rem;

    }
    @media screen and (min-width:1100px) {
        padding: 4rem 12rem 250px 12rem;

    }
}

.article-base{
    background-color: $white;
            border-radius: 10px;
            margin-bottom: 1rem;
            padding: 1rem;
}
.this-page {
    padding: 1rem 0;
    width: 100%;
    font-size: 1.3rem;
    a {
        margin: 0 .5rem;

        &:hover {
            color: $mandarin;
            border-bottom: 1px solid $mandarin;
        }
    }
}
.icon{
    display: inline-block;
    background: black;
    width: 30px;
    height: 30px;
    &:hover{
        background: $mandarin;
    }
}