@import 'header';
@import 'footer';
@import 'base';

.max {
    width: 80%;
    height: auto;
    margin: 2rem auto;
}

.min {
    width: 100px;
    height: auto;
}

main {
    @extend .main-base;
    height: 80vh;

    .thispage {
        @extend .this-page;
    }

    .main {
        .container {
            @extend .article-base;
            text-align: left;
            a{
                margin:0 2rem ;
                &:hover{
                    color: $mandarin;
                    border-bottom: 1px solid $mandarin;
                }
            }
        }
    }
}
