@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../../docs/mo-fJf1ByoODJk-unsplash.jpg") no-repeat;
  background-size: cover;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body a {
  text-decoration: none;
  color: inherit;
}

.main-base, main {
  padding: 4rem 1rem 100px 1rem;
}
@media screen and (min-width: 800px) {
  .main-base, main {
    padding: 4rem 5rem 250px 5rem;
  }
}
@media screen and (min-width: 1100px) {
  .main-base, main {
    padding: 4rem 12rem 250px 12rem;
  }
}

.article-base, main .container article {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.this-page {
  padding: 1rem 0;
  width: 100%;
  font-size: 1.3rem;
}
.this-page a {
  margin: 0 0.5rem;
}
.this-page a:hover {
  color: #ff6d19;
  border-bottom: 1px solid #ff6d19;
}

.icon, aside .aside-icons .icon {
  display: inline-block;
  background: black;
  width: 30px;
  height: 30px;
}
.icon:hover, aside .aside-icons .icon:hover {
  background: #ff6d19;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../../docs/mo-fJf1ByoODJk-unsplash.jpg") no-repeat;
  background-size: cover;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body a {
  text-decoration: none;
  color: inherit;
}

.main-base, main {
  padding: 4rem 1rem 100px 1rem;
}
@media screen and (min-width: 800px) {
  .main-base, main {
    padding: 4rem 5rem 250px 5rem;
  }
}
@media screen and (min-width: 1100px) {
  .main-base, main {
    padding: 4rem 12rem 250px 12rem;
  }
}

.article-base, main .container article {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.this-page {
  padding: 1rem 0;
  width: 100%;
  font-size: 1.3rem;
}
.this-page a {
  margin: 0 0.5rem;
}
.this-page a:hover {
  color: #ff6d19;
  border-bottom: 1px solid #ff6d19;
}

.icon, aside .aside-icons .icon {
  display: inline-block;
  background: black;
  width: 30px;
  height: 30px;
}
.icon:hover, aside .aside-icons .icon:hover {
  background: #ff6d19;
}

header nav {
  position: relative;
  top: 4rem;
  left: 0;
  padding: 0 0 3rem 4rem;
  height: 14vw;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
header nav .nav-avatar {
  width: 24vw;
  height: 24vw;
  border-radius: 50%;
  box-sizing: border-box;
  background: url("../../docs/avatar.png") no-repeat;
  background-size: cover;
}
header nav .nav-avatar:hover {
  border: 1px solid #ff6d19;
}
header nav .name {
  width: 60vw;
  padding: 3rem 0 0 2rem;
  text-align: left;
}
header nav .name h1 {
  font-size: 2rem;
  font-family: "Abril Fatface", cursive;
}
header nav .name .cat-logo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
header nav .name label {
  display: inline-block;
  border: 1px solid #ff6d19;
  border-radius: 4px;
  margin: 2px;
  padding: 2px 4px;
}

@media screen and (min-width: 800px) {
  header nav {
    padding: 0 0 3rem 6rem;
  }
  header nav .nav-avatar {
    width: 19vw;
    height: 19vw;
  }
  header nav .name h1 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1100px) {
  header nav {
    padding: 0 0 3rem 13rem;
  }
  header nav .nav-avatar {
    width: 15vw;
    height: 15vw;
  }
  header nav .name {
    padding: 3rem 0 0 4rem;
  }
  header nav .name h1 {
    font-size: 3.125rem;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../../docs/mo-fJf1ByoODJk-unsplash.jpg") no-repeat;
  background-size: cover;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body a {
  text-decoration: none;
  color: inherit;
}

.main-base, main {
  padding: 4rem 1rem 100px 1rem;
}
@media screen and (min-width: 800px) {
  .main-base, main {
    padding: 4rem 5rem 250px 5rem;
  }
}
@media screen and (min-width: 1100px) {
  .main-base, main {
    padding: 4rem 12rem 250px 12rem;
  }
}

.article-base, main .container article {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.this-page {
  padding: 1rem 0;
  width: 100%;
  font-size: 1.3rem;
}
.this-page a {
  margin: 0 0.5rem;
}
.this-page a:hover {
  color: #ff6d19;
  border-bottom: 1px solid #ff6d19;
}

.icon, aside .aside-icons .icon {
  display: inline-block;
  background: black;
  width: 30px;
  height: 30px;
}
.icon:hover, aside .aside-icons .icon:hover {
  background: #ff6d19;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 10vh;
  text-align: center;
  background-color: white;
}
footer p {
  padding: 25px 1px;
  border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../../docs/mo-fJf1ByoODJk-unsplash.jpg") no-repeat;
  background-size: cover;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body a {
  text-decoration: none;
  color: inherit;
}

.main-base, main {
  padding: 4rem 1rem 100px 1rem;
}
@media screen and (min-width: 800px) {
  .main-base, main {
    padding: 4rem 5rem 250px 5rem;
  }
}
@media screen and (min-width: 1100px) {
  .main-base, main {
    padding: 4rem 12rem 250px 12rem;
  }
}

.article-base, main .container article {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.this-page {
  padding: 1rem 0;
  width: 100%;
  font-size: 1.3rem;
}
.this-page a {
  margin: 0 0.5rem;
}
.this-page a:hover {
  color: #ff6d19;
  border-bottom: 1px solid #ff6d19;
}

.icon, aside .aside-icons .icon {
  display: inline-block;
  background: black;
  width: 30px;
  height: 30px;
}
.icon:hover, aside .aside-icons .icon:hover {
  background: #ff6d19;
}

aside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.4);
}
aside .aside-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
aside .aside-icons .git-icon {
  -webkit-mask: url("../../docs/svg/icons8-github.svg");
          mask: url("../../docs/svg/icons8-github.svg");
  -webkit-mask-size: cover;
          mask-size: cover;
}
aside .aside-icons .linkedin-icon {
  -webkit-mask: url("../../docs/svg/icons8-linkedin.svg");
          mask: url("../../docs/svg/icons8-linkedin.svg");
  -webkit-mask-size: cover;
          mask-size: cover;
}
aside a {
  display: block;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}
aside a:hover {
  border-bottom: 1px solid;
  color: #ff6d19;
  font-weight: bold;
}

@media screen and (min-width: 800px) {
  main {
    grid-template-columns: 1fr 3fr;
  }
  main aside {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    background-color: white;
    height: 60vh;
    border-radius: 10px;
  }
}
.word-hover, main .container article .post-title {
  transition: 0.4s;
}
.word-hover:hover, main .container article .post-title:hover {
  color: #ff6d19;
  transform: translateY(-4px);
}

main {
  display: grid;
  grid-template-columns: _;
  gap: 16px;
  margin-top: 1rem;
}
main .container article .post-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
main .container article label {
  display: inline-block;
  margin-bottom: 0.5rem;
  border: 1px solid #3d242c;
  padding: 0 0.5rem;
  border-radius: 4px;
  font-size: small;
}
main .pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
main .pagination a {
  display: block;
  text-align: center;
  width: 4vw;
  margin: 0 0.3rem;
  background-color: white;
  border-radius: 5px;
}/*# sourceMappingURL=index.css.map */