@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../../docs/mo-fJf1ByoODJk-unsplash.jpg") no-repeat;
  background-size: cover;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body a {
  text-decoration: none;
  color: inherit;
}

.main-base, main {
  padding: 4rem 1rem 100px 1rem;
}
@media screen and (min-width: 800px) {
  .main-base, main {
    padding: 4rem 5rem 250px 5rem;
  }
}
@media screen and (min-width: 1100px) {
  .main-base, main {
    padding: 4rem 12rem 250px 12rem;
  }
}

.article-base, main .main .container article {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.this-page, main .thispage {
  padding: 1rem 0;
  width: 100%;
  font-size: 1.3rem;
}
.this-page a, main .thispage a {
  margin: 0 0.5rem;
}
.this-page a:hover, main .thispage a:hover {
  color: #ff6d19;
  border-bottom: 1px solid #ff6d19;
}

.icon {
  display: inline-block;
  background: black;
  width: 30px;
  height: 30px;
}
.icon:hover {
  background: #ff6d19;
}

header nav {
  position: relative;
  top: 4rem;
  left: 0;
  padding: 0 0 3rem 4rem;
  height: 14vw;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
header nav .nav-avatar {
  width: 24vw;
  height: 24vw;
  border-radius: 50%;
  box-sizing: border-box;
  background: url("../../docs/avatar.png") no-repeat;
  background-size: cover;
}
header nav .nav-avatar:hover {
  border: 1px solid #ff6d19;
}
header nav .name {
  width: 60vw;
  padding: 3rem 0 0 2rem;
  text-align: left;
}
header nav .name h1 {
  font-size: 2rem;
  font-family: "Abril Fatface", cursive;
}
header nav .name .cat-logo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
header nav .name label {
  display: inline-block;
  border: 1px solid #ff6d19;
  border-radius: 4px;
  margin: 2px;
  padding: 2px 4px;
}

@media screen and (min-width: 800px) {
  header nav {
    padding: 0 0 3rem 6rem;
  }
  header nav .nav-avatar {
    width: 19vw;
    height: 19vw;
  }
  header nav .name h1 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1100px) {
  header nav {
    padding: 0 0 3rem 13rem;
  }
  header nav .nav-avatar {
    width: 15vw;
    height: 15vw;
  }
  header nav .name {
    padding: 3rem 0 0 4rem;
  }
  header nav .name h1 {
    font-size: 3.125rem;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../../docs/mo-fJf1ByoODJk-unsplash.jpg") no-repeat;
  background-size: cover;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body a {
  text-decoration: none;
  color: inherit;
}

.main-base, main {
  padding: 4rem 1rem 100px 1rem;
}
@media screen and (min-width: 800px) {
  .main-base, main {
    padding: 4rem 5rem 250px 5rem;
  }
}
@media screen and (min-width: 1100px) {
  .main-base, main {
    padding: 4rem 12rem 250px 12rem;
  }
}

.article-base, main .main .container article {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.this-page, main .thispage {
  padding: 1rem 0;
  width: 100%;
  font-size: 1.3rem;
}
.this-page a, main .thispage a {
  margin: 0 0.5rem;
}
.this-page a:hover, main .thispage a:hover {
  color: #ff6d19;
  border-bottom: 1px solid #ff6d19;
}

.icon {
  display: inline-block;
  background: black;
  width: 30px;
  height: 30px;
}
.icon:hover {
  background: #ff6d19;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 10vh;
  text-align: center;
  background-color: white;
}
footer p {
  padding: 25px 1px;
  border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../../docs/mo-fJf1ByoODJk-unsplash.jpg") no-repeat;
  background-size: cover;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body a {
  text-decoration: none;
  color: inherit;
}

.main-base, main {
  padding: 4rem 1rem 100px 1rem;
}
@media screen and (min-width: 800px) {
  .main-base, main {
    padding: 4rem 5rem 250px 5rem;
  }
}
@media screen and (min-width: 1100px) {
  .main-base, main {
    padding: 4rem 12rem 250px 12rem;
  }
}

.article-base, main .main .container article {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.this-page, main .thispage {
  padding: 1rem 0;
  width: 100%;
  font-size: 1.3rem;
}
.this-page a, main .thispage a {
  margin: 0 0.5rem;
}
.this-page a:hover, main .thispage a:hover {
  color: #ff6d19;
  border-bottom: 1px solid #ff6d19;
}

.icon {
  display: inline-block;
  background: black;
  width: 30px;
  height: 30px;
}
.icon:hover {
  background: #ff6d19;
}

.img-shadow {
  box-shadow: 0 0px 10px #3d242c;
  margin: 0.5rem auto;
}

.comd {
  padding: 0.5em 1em;
  border-radius: 4px;
  border: 1px solid #3d242c;
  box-shadow: 0 0 8px #3d242c;
}

a:hover {
  color: #ff6d19;
}

button {
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  background-color: #c8c7ca;
  border: none;
}

.colorful {
  text-align: center;
  border-radius: 0.3rem;
  background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(255, 154, 0) 10%, rgb(208, 222, 33) 20%, rgb(79, 220, 74) 30%, rgb(63, 218, 216) 40%, rgb(47, 201, 226) 50%, rgb(28, 127, 238) 60%, rgb(95, 21, 242) 70%, rgb(186, 12, 248) 80%, rgb(251, 7, 217) 90%, rgb(255, 0, 0) 100%);
}

main .main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
main .main aside {
  display: none;
}
main .main aside .titles-list .cate-posts {
  border: 1px solid #3d242c;
  padding: 0.2rem 0.5rem;
  margin: 0 1.5rem;
  width: 15vw;
  text-align: center;
  border-radius: 8px;
  line-height: 2;
}
main .main aside .titles-list .cate-posts:hover a {
  display: block;
  font-size: 14px;
  color: #3d242c;
}
main .main aside .titles-list .cate-posts:hover a:hover {
  color: #ff6d19;
  border-bottom: 1px solid #ff6d19;
}
main .main aside .titles-list .cate-posts a {
  display: none;
}
main .main .container article {
  margin-top: 2rem;
  text-align: center;
}
main .main .container article h1 {
  font-size: 1.8rem;
  font-weight: normal;
}
main .main .container article h2 {
  font-weight: normal;
  padding: 1rem;
}
main .main .container article img {
  width: 100%;
}
main .main .container article ol {
  line-height: 1.6;
  list-style: none;
  counter-reset: item;
  text-align: left;
  margin: 1rem 1.8rem;
}
main .main .container article ol li {
  counter-increment: item;
  padding: 1rem 0;
  font-weight: bold;
}
main .main .container article ol li::before {
  padding: 0 0.25em;
  font-weight: normal;
  border-radius: 50%;
  background-color: #3d242c;
  color: white;
  content: counter(item);
  margin-right: 1rem;
}
main .main .container article ol p {
  letter-spacing: 0.02em;
  line-height: 1.3;
  margin: 0 0 1em;
}

@media screen and (min-width: 800px) {
  main .main {
    grid-template-columns: 1fr 3fr;
  }
  main .main aside {
    display: block;
    background-color: white;
    border-radius: 10px;
    padding: 1rem 0 4rem;
    height: 60vh;
    text-align: center;
  }
  main .main aside .titles-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  main .main aside .titles-list .cate-posts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0.5rem;
  }
  main .main aside .titles-list .cate-posts a {
    text-align: left;
  }
  main .main section article {
    margin-top: 0;
  }
  main .main section article h2 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1100px) {
  main .main {
    grid-template-columns: 1fr 6fr;
  }
}/*# sourceMappingURL=post1.css.map */